# Firebase
FIREBASE_PROJECT_ID=doar-dev-local
# GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json

# Google Sheets
GOOGLE_SHEETS_CLIENT_EMAIL=superappdoar@gmail.com
# GOOGLE_SHEETS_PRIVATE_KEY=<service-account-private-key>

# API
PORT=3004
API_KEY=dev-api-key

# Seed
AUTO_SEED=true
